<ng-container *ngIf="!logged">
    <div>
      <div><input type="text" [(ngModel)]="login" /></div>
      <div><input type="text" [(ngModel)]="password" /></div>
      <div><button (click)="auth()">Log in</button></div>
    </div>
  </ng-container>
  
  <ng-container *ngIf="logged">
    CREATE Post:
    <div>
      <input type="text" [(ngModel)]="name" />
      <button (click)="add()">Create</button>
    </div>
  
    Posts
    <ng-container *ngIf="!loading">
      Loading...
    </ng-container>
  
    <ng-container *ngIf="loading">
      <div>
        <div *ngFor="let c of tasks">
        <!-- <span (click)="getProducts(c)"> -->
          <input type="text" [(ngModel)]="c.title" />
          <br/>
          {{c.created_at}}
          <br/>
          {{c.like_count}}
          <br/>
          <!-- <input type="text" [(ngModel)]="c.title" /> -->
        <!-- </span> -->
          <span style="color: red" (click)="deleteItem(c)"> Удалить</span>
          <span style="color: green" (click)="putDetailPost(c)"> Изменить</span>
          <span style="color: blue" (click)="detail(c)"> Detail </span>
          <span style="color: fuchsia" (click)="like(c)"> Like </span>
        </div>
      </div>
    </ng-container>
  
    <br/>
  
    <div>
      <button (click)="logout()">Log out</button>
    </div>
  
  </ng-container>
  